<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

      <link rel="stylesheet" href="css/bootstrap.min.css">
    
      <link rel="stylesheet" type="text/css" href="/css/style2.css">
      <!-- Font Awesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
      <!-- MDB -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>

  </head>
  <style>
      *{
 margin: 0px;
 padding: 0px;
}

body{
 font-family: arial;
}

.card{
     width: 20%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
}

.title{
  text-align: center;  
}

.des{
  padding: 3px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

button{
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 40%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}

button:hover{
  background-color: red;
  color: white;
  transition: .5s;
  cursor: pointer;
}

input {
  border: 0;
}

.title input[type=text],
.des input[type=text] {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}
  </style>
  <body>

    <div class="wrapper">
        <%- include("./partials/nav_admin.ejs", {information: information, url: url}) %>
        <div class="main_content">
           <div class="header">Welcome! Have a healthy day.</div>  
           <div class="info">
    

      <form action="<%= url %>/uploadfile" action="post" enctype="multipart/form-data">
          <input type="file" name="file" id="file"><br>
          <input type="submit" class="btn btn-primary">
      </form>

      <div class="main">
     
     <!--cards -->
     
     <% doctor.forEach(function (record) { %>
     <div class="card">
        <div class="image">
            <img src="<%= record.name%>">
         </div>
     <div class="title">
      <input type="text" name = "doctor" value="<%= record.name %>" readonly>
     </div>
     <div class="des">
     <input type="text" name="email" value="<%= record.emailID %>" readonly>
     <input type="text" name="speciality" value="<%= record.speciality %>" readonly>
     <button type="submit">Download</button>
     </div>
     </div>
     <% }); %>
     
     </div>
     </div>
     </div>
     
  </body>
