<div class="sidebar">
    <h2>Welcome<br><%= information.name %></h2>
    <ul>
        <!--<li><a href="/patient"><i class="fas fa-home"></i> Home</a></li>-->
        <li><a href="<%= url %>"><i class="fas fa-user"></i>Profile</a></li>
        <li><a href="<%= url %>/makebooking"><i class="fas fa-address-card"></i>Make Booking</a></li>
        <li><a href="<%= url %>/viewdoctors"><i class="fas fa-project-diagram"></i>View Doctor</a></li>
        <li><a href="<%= url %>/updateprofile"><i class="fas fa-blog"></i>Update Profile</a></li>
        <li><a href="<%= url %>/cancelbooking"><i class="fa fa-ban"></i> Cancel Booking</a></li>
        <li><a href="<%= url %>/faq"><i class="fas fa-address-book"></i>FAQ</a></li>
    </ul> 
    <div class="social_media">
      <a href="<%= url %>/removepatientaccount"><i class="fa fa-power-off" aria-hidden="true"></i></a>
      <a href="<%= url %>/logoutpatient"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </div>
</div>
