<div class="sidebar">
    <h2>Welcome<br><%= information.name %></h2>
    <ul>
        <li><a href="<%= url %>"><i class="fas fa-user"></i>Profile</a></li>
        <li><a href="<%= url %>/updateprofile"><i class="fas fa-address-card"></i>Update Profile</a></li>
        <li><a href="<%= url %>/setschedule"><i class="fas fa-project-diagram"></i>Set Schedule</a></li>
        <li><a href="<%= url %>"><i class="fas fa-blog"></i>Help</a></li>
        <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
    </ul> 
    <div class="social_media">
      <a href="<%= url %>/removedoctoraccount"><i class="fa fa-power-off" aria-hidden="true"></i></a>
      <a href="<%= url %>/logoutdoctor"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </div>
</div>
