<div class="sidebar">
    <h2>Welcome<br><%= information.name %></h2>
    <ul>
        <!--<li><a href="/patient"><i class="fas fa-home"></i> Home</a></li>-->
        <li><a href="<%= url %>"><i class="fas fa-user"></i>Profile</a></li>
        <li><a href="<%= url %>/doctors"><i class="fas fa-address-card"></i>View Doctors</a></li>
        <li><a href="<%= url %>/patients"><i class="fas fa-project-diagram"></i>View Patients</a></li>
        <li><a href="/patient/help"><i class="fas fa-blog"></i>Help</a></li>
        <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
    </ul> 
    <div class="social_media">
      <a href="<%= url %>/removeadminaccount"><i class="fa fa-power-off" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </div>
</div>
